footer {
  background-color: #262425;
}

.footer-white {
  background-color: white;
  height: 233px;
}

.footer-white-title {
  /* padding-top: 100px; */
  margin-top: 100px;
  font-family: DIN Pro;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.footer-white-logos {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  column-gap: 43px;
  opacity: 0.8;
}

.footer-black {
  background-color: #262425;
  height: 422px;
  color: white;
  position: relative;
}

.footer-black {
  font-family: Graphik;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  position: relative;
}

.footer-black-row {
  /* margin-top: 100px; */
  padding-top: 100px;
}

.footer-black-bottom {
  position: absolute;
  bottom: 0;
  text-transform: capitalize;
}

.footer-black-column-logos {
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  margin-top: 54px;
}

.footer-black-bottom-arr {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;

  font-family: Graphik;
  font-size: 14px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 40%;
  color: #ffffff;
}

.footer-black-column-title {
  font-family: Graphik;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: capitalize;
}

.footer-black-column-permission-search {
  background-color: #262425;
  border: none;
  height: 40px;
  width: 280px;
  color: white;

  font-family: Graphik;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  border-bottom: 2px solid #ffffff;
}

.footer-black-column-permission {
  position: relative;
}

.footer-black-column-permission-arrow {
  position: absolute;
  right: 20px;
  bottom: 15px;
}

input[type="text"]:focus {
  border: none;
  background-color: rgb(13, 13, 13);
  caret-color: white;
  border-bottom: 2px solid #ffffff;
}

input {
  outline: none;
}

.column1 {
  padding: 0;
  margin-left: 352px;
}

.column2 > div {
  margin-bottom: 34px;
}

.column2 {
  padding: 0;
  margin-left: 120px;
}

.column3 > div {
  margin-bottom: 34px;
}

.column3 {
  padding: 0;
  margin-right: 120px;
}

.column4 {
  padding: 0;
  margin-right: 350px;
  white-space: nowrap;
}
